
<div class="row">
<section class="content content-first">
	<div class="center hero-unit">
	  <h1>Welcome to MCL 101!</h1>

	  <h2>
	    This is where the magic happens. Sign up (its free!) for a look at the most advanced
		language learning system every built!
	  </h2>

	  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	  <%= link_to "What do we do?", about_path, class: "btn btn-large btn-primary" %>
	</div>
</section>
</div>

<div class="row">
	<section class="content content-second">
		<div class="content-inner">
			<div class="col-md-4">
				<%= image_tag("character.png", :alt => "dragon character") %>
			</div>
			<div class="col-md-8">
				<h1>Effective</h1>
				<h2>MCL101 has revolutionized the teaching of Chinese. We've done away with costly lessons and useless vocabulary. Here you'll learn exactly what you need and exactly how to use it.</h2>
				<a href="#" class="btn btn-primary">Learn More >> </a>
			</div>
		</div>
	</section>
</div>


<div class="row">
	<section class="content content-third">
			<div class="content-inner">
			<div class="col-md-8">
				<h1>Convenient</h1>
				<h2>There is no reason that your learning should be restricted to a classroom. The most effective learning happens when it fits into your schedule, not the other way around.</h2>
				<a href="#" class="btn btn-primary">Learn More >> </a>
			</div>
			<div class="col-md-4">
				<%= image_tag("phone.png", :alt => "dragon character") %>
			</div>

		</div>
	</section>
</div>


<div class="row">
	<section class="content content-fourth">
			<div class="content-inner">
			<div class="col-md-4">
				<%= image_tag("dragon.png", :alt => "dragon character") %>
			</div>
			<div class="col-md-8">
				<h1>Practical</h1>
				<h2>Whether you're a student enrolled in Chinese classes, or preparing for an upcoming business trip, you've got nothing to lose. Jump in and get started. You'll be amazed with your results.</h2>
				<a href="#" class="btn btn-primary">Learn More >> </a>
			</div>
		</div>
	</section>
</div>

